.root{
    -fx-background-color: #000000;
}

/* Label styling */
.label{
    -fx-font-size: 25;
    -fx-text-fill: #FFFAFA;
    -fx-font-family: "Courier New";
    -fx-alignment: center;
}

#warningLabel {
    -fx-font-size: 17;
    -fx-text-fill: #FFFAFA;
    -fx-font-family: "Courier New";
    -fx-alignment: center;
}

/* Button style */
.button {
    -fx-font-size: 12;
    -fx-background-color: #000000;
    -fx-font-family: "Courier New";
}

.button:hover {
    -fx-background-color: #434343;
}

.button:pressed {
    -fx-background-color: #949494;
}

/* Checkbox styling */
.check-box {
    -fx-font-size: 15;
    -fx-text-fill: #FFFAFA;
    -fx-font-family: "Courier New";
}