.root{
    -fx-background-color:#000000;
}

.label{
    -fx-font-size: 25;
    -fx-text-fill: #FFFAFA;
    -fx-font-family: "Courier New";
    -fx-alignment: center;
}

.button {
    -fx-font-size: 12;
    -fx-background-color: #000000;
    -fx-font-family: "Courier New";
}

.button:hover {
    -fx-background-color: #C0C0C0;

}

.check-box {
    -fx-font-size: 15;
    -fx-text-fill: #FFFAFA;
    -fx-font-family: "Courier New";
}